@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ------------------------------------ General ---------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}
/* body.index para sólo utilizar la imágen de fondo en index*/
body.index {
    background-image: url('./img/img_index.jpeg');
    background-size: cover;
    background-position: center;
}

/* ------------------------------------ Fin General ---------------------------------------------*/


/* ------------------------------------ Inicio Header (Cabecera) ---------------------------------------------*/

header img{ /* Ajusta las dimensiones del ICONO de la pagina para el header/cabecera */
    margin-left: 2%;
    width: 8%;
    height: 80%;
}

header {
    display: flex;
    align-items: center; /* Centrar verticalmente el header */
    background-color: rgba(250, 39, 39, 0.553); /* Color de fondo semi-transparente */
    position: fixed; /* Fijar la posición del encabezado */
    top: 0; /* Fijar en la parte superior */
    left: 0; /* Fijar en la parte izquierda */
    width: 100%; /* Ocupar el ancho completo */
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 65px;
    margin-left: 20px;
    margin-right: auto; /* Empuja todo a la izquierda */
    color: white; /* Color del texto */
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 100px; /* Ajuste del margen derecho */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 25px 10px;
    background-color: transparent; /* Fondo transparente */
    border: 2px solid transparent; /* Borde transparente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s;
}

/* Fijar el color del fondo al seleccionar la pestaña*/
nav a:hover,
nav a.activa {
    background-color: rgb(255, 255, 255); /* Cambiar el fondo al pasar el mouse o cuando está activo */
    color: black;

}
/* Fin de función "Activa"*/
nav:not(:last-child) {
    margin-right: 20px; /* Espaciado entre elementos de navegación */
}


/* ------------------------------------ Fin Header (Cabecera) ---------------------------------------------*/


/* ------------------------------------------ Inicio main -------------------------------------------------*/

.text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.808);
    margin-right: 10px;
    padding-top: 350px;
    
}



