@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
}
/* ---------------header---------------- */
header {
    display: flex;
    align-items: center; 
    background-color: rgba(250, 39, 39, 0.87); /* Color de fondo semi-transparente */
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 65px;
    margin-left: 20px;
    margin-right: auto; 
    color: white; 
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 100px; 
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 25px 10px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: rgb(71, 58, 58);
}

nav:not(:last-child) {
    margin-right: 20px; /* Espaciado entre elementos de navegación */
}

/* -------------MAIN----------------- */
.imagen {
    border: 1px;
    margin-top: 15px;
    margin-left: 25px;
    width: 550px;
    height: 550px;
    justify-content: center;
}

.texto {
    border: 1px;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: justify;
    margin-top: 150px;
    width: 780px;
    height: 550px;
    justify-content: center;
}
.conteiner {
    border: 1px solid black;
    background-color: black;
    display: flex;
}