@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ------------------------------------ General ---------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

/* body.nuestra-carta para sólo utilizar la imágen de fondo en otro navegador*/
body.nuestra-carta {
    background-image: url('/img/img/img_cartas_2.jpeg');
}
/* ------------------------------------ Fin General ---------------------------------------------*/


/* ------------------------------------ Inicio Header (Cabecera) ---------------------------------------------*/

header img { /* Ajusta las dimensiones del ICONO de la pagina para el header/cabecera */
    margin-left: 2%;
    width: 8%;
    height: 80%;
}

header {
    display: flex;
    align-items: center; /* Centrar verticalmente el header */
    background-color: rgba(250, 39, 39, 0.553); /* Color de fondo semi-transparente */
    position: fixed; /* Fijar la posición del encabezado */
    top: 0; /* Fijar en la parte superior */
    left: 0; /* Fijar en la parte izquierda */
    width: 100%; /* Ocupar el ancho completo */
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 65px;
    margin-left: 20px;
    margin-right: auto; /* Empuja todo a la izquierda */
    color: white; /* Color del texto */
}

h1 a{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 65px;
    margin-left: 20px;
    margin-right: auto; /* Empuja todo a la izquierda */
    color: white; /* Color del texto */
    text-decoration: none;
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 100px; /* Ajuste del margen derecho */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 25px 10px;
    background-color: transparent; /* Fondo transparente */
    border: 2px solid transparent; /* Borde transparente */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s;
}
/* Fijar el color del fondo al seleccionar la pestaña*/
nav a:hover,
nav a.C-Act {
    background-color: rgb(255, 255, 255); /* Cambiar el fondo al pasar el mouse o cuando está activo */
    color: black;

}
/* Fin de función "Activa"*/
nav:not(:last-child) {
    margin-right: 20px; /* Espaciado entre elementos de navegación */
}

/* ------------ Section Cartas -------------- */

/*Estilo del contenido*/
.container {
    display: grid;
    grid-template: 1fr 360px 1fr;
    grid-template-areas:
        "header header"
        "left contenido";
    grid-gap: 5px;
    padding: 10px;
    margin: auto; /* Centrar el contenedor horizontal y verticalmente */
    width: 650px; /* Ancho máximo del contenedor */
    max-width: 90%; /* Establecer un ancho máximo del contenedor */
    margin-top: 175px; /* Ajustar el margen superior para dejar espacio para el encabezado */
    background-color: rgba(0, 0, 0, 0.6); /* Negro con 60% de opacidad */
    border-radius: 10px;
    color: white;
}
.item{
    background-color: rgba(0, 0, 0, 0.6); /* Negro con 60% de opacidad */
    padding: 5px;
    color: white;
    border-radius: 10px;
}
.header{
    grid-area: header;
    display: flex; /* Hacer que los elementos se alineen en una fila */
    flex-direction: row; /* Alinear los elementos en una columna */
    width: 650px;
    height: 40px;
}
.left{
    grid-area: left;
    display: flex; /* Hacer que los elementos se alineen en una fila */
    flex-direction: column; /* Alinear los elementos en una columna */
    justify-content: center; /* Centrar verticalmente los elementos */
    width: 345;
    height: 300px;
}
.contenido{
    grid-area: contenido;
    width: 285px;
    height: 300px;
}
/*Fin estilo del contenido*/

/*Estilo de cartas "left"*/

.cartas {
    background-color:  rgba(0, 0, 0, 0.8); /* Negro con 80% de opacidad */;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 128px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 2px; /* Separación entre elementos */
    width: 80px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    display: flex; /* Utiliza flexbox para alinear el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}
.cartas:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Cambia el color de fondo al pasar el mouse */
    color: black; /* Cambia el color del texto al pasar el mouse */
}
.header-cartas{
    background-color: rgba(0, 0, 0, 0.8); /* Cambia el color de fondo al pasar el mouse */
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 67px;
    border-radius: 5px; /* Bordes redondeados */
    font-family: 'Josefin Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
.header-cartas:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Cambia el color de fondo al pasar el mouse */
    color: black; /* Cambia el color del texto al pasar el mouse */
}
.activa {
    background-color: rgb(255, 255, 255); /* Cambiar el fondo cuando está activo */
    color: black; /* Cambiar el color del texto */
}
/*Fin estilo de cartas "left"*/

/*Estilo de cartas "contenido"*/

.carta-imagen {
    margin: 0%;
    display: flex;
    margin-bottom: 5px; /* Margen inferior para separar del texto */
}
.carta-imagen img {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    height: 300px;
    width: 280px;
    margin-bottom: 0px; /* Margen inferior para separar del texto */
    justify-content: left;

}
.carta-texto {
    font-family: 'Josefin Sans', sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
    margin-left: 10px; /* Margen izquierdo para separar del texto */
    color: white; /* Color del texto */
    text-align-last: right;
}


/*Fin estilo de cartas "contenido"*/